<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@trip.errors.count, "Error") %> prohibited this trip from being saved:</h4>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true %>
  </div>
  <br>
  <label>New Objective:</label>
      <%= f.fields_for :objectives do |ff| %>
        <%= render :partial => 'objectives/form_elements', :locals => { :f => ff} %>
      <% end %>

  <br>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  <br>
<% end %>

