<%= form_for(@objective) do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes, autofocus: true %>
  </div>

  <div>
    <%= f.collection_select :trip_id, current_user.trips.all, :id, :title %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  <br>
<% end %>
