
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>

<!-- if a trip exists no need to select another -->
<% if @trip == nil %>
  <div>
    <%= f.collection_select :trip_id, current_user.trips.all, :id, :title %>
  </div>
  <br>
<% end %>
  
  <div>
    <%= f.collection_select :location_id, Location.all, :id, :city, {:include_blank => 'Please Select'} %>
  </div>
  <br>
  <p><small>Note: If location is not listed, feel free to add one after creating your objective!</small></p>
  
  