<%= form_for( @objective, :url => create_objective_path ) do |f| %>
  <% if @objective.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@objective.errors.count, "error") %> prohibited this objective from being saved:</h4>

      <ul>
      <% @objective.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'form_elements', :locals => { :f => f} %>

  <div>
    <%= f.collection_select :trip_id, current_user.trips.all, :id, :title %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  <br>
<% end %>
