<%= form_for( @objective, :url => create_objective_path ) do |f| %>
  <% if @objective.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@objective.errors.count, "error") %> prohibited this objective from being saved:</h4>

      <ul>
      <% @objective.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= render :partial => 'form_elements', :locals => { :f => f} %>
  
  <div id='jquery-submit'>
    <%= f.submit "Submit", :class => 'btn btn-primary'%>
  </div>
  <br>

<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
 
      var values = $(this).serialize();
 
      var posting = $.post('/products', values);
 
      posting.done(function(data) {
        // TODO: handle response
        var product = data["product"];
        $("#productName").text(product["name"]);
        $("#productPrice").text('$'+product["price"]);
        $("#productDescription").text(product["description"]);
        $("#productInventory").text(product["inventory"]);
      });
    });
  });
</script>