<div class="well">
    <div class="col-lg-6">
  <h2><%= @objective.title %></h2>
  <% if @objective.location %>
    <h4>Note: <%= @objective.notes   %></h4>
    <h4>City: <%= @objective.location.city    %></h4>
    <h4>State: <%= @objective.location.state   %></h4>
    <h4>Country: <%= @objective.location.country %></h4>
    <br>
    <%= button_to "Delete objective", { action: "destroy", id: @objective.id }, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  </div>
</div>

<%= render 'layouts/links' %>