<div class="well">
    <div class="col-lg-6">
  <h2>Profile:</h2>
  <% if current_user %>
    <h4>Name: <%= current_user.name  %><h4>
    <p>Email: <%= current_user.email %></p>
    <br>

    <h4>Trips:</h4>
    <% current_user.trips.each do |trip| %>
      <h4><%= link_to trip.title, trip_path(trip) %></h4>
      <p><%= trip.description %></p>
    <% end %>
  <% end %>
  </div>
</div>

<%= render 'layouts/links' %>