<div class="well">
  <div class="col-lg-6">
    <h2>Profile:</h2>
    <% if current_user %>
      <h4>Name: <%= current_user.name  %><h4>
      <p>Email: <%= current_user.email %></p>
      <br>
      <p><small>View a trip and add objectives!</small></p>
      <h4>Trips:</h4>
      <a class="trips">Click Here</a>
      <div id="mo-trips"></div>
      <!-- <% @trips.each do |trip| %> -->
         <!-- <h4><%= link_to trip.title, trip_path(trip) %></h4> -->
        <!-- <p><%= trip.description     %></p> -->

        <!-- <%= button_to "Delete Trip", { controller: :trips ,action: "destroy", id: trip.id }, method: :delete, data: { confirm: "Are you sure?" } %> -->
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset='utf-8'>
  $(function() {
    $(".trips").click(function() {
      var id = <%= current_user.id %>;
      $.ajax({
        dataType: 'json',
        url: "/trips",
        method: 'GET',
        success: function(data) {
          $.each(data, function(index,key) {

            var id           = data[index].id;
            // the variable below did not let me interpolate id so I had to manually do it
            var deleteButton = '<%= button_to "Delete Trip", { controller: :trips ,action: "destroy", id: '' }, method: :delete, data: { confirm: "Are you sure?" } %>';

            $('#mo-trips').append('<a href=/trips/'+data[index].id+'>'+data[index].title+'</a><br><li>'+data[index].description+'</li><br>'+deleteButton);

            // below I interpolate that id to the button action
            $('form:eq('+index+')').removeAttr('action');
            $('form:eq('+index+')').attr('action', '/trips/'+id);

          });
        }
      });
    })
  });

</script>

<%= render 'layouts/links' %>