<div class="well">
  <div class="col-lg-6">
    <h2>Profile:</h2>
    <% if current_user %>
      <h4>Name: <%= current_user.name  %><h4>
      <p>Email: <%= current_user.email %></p>
      <br>
      <p><small>View a trip and its objectives!</small></p>
      <a class="btn btn-lg btn-primary" id="trips" role="button">Trips:</a>
      <a id="trip-objectives" role="button"></a>
      <div id="mo-trips"></div>
    <% end %>
  </div>
</div>


<script type="text/javascript" charset='utf-8'>
  $(function() {

    var showTrips = function(id, obj) {
      var data            = obj,
          objectiveButton = '<span class="btn btn-sm btn-primary" id="trip-objectives" role="button" data-url="/trips/'+id+'">Objectives</span>',
          // objectiveButton = button1,
          // the variable below did not let me interpolate id so I had to manually do it
          deleteButton    = '<%= button_to "Delete Trip", { controller: :trips ,action: "destroy", id: '' }, method: :delete, data: { confirm: "Are you sure?" } %>';

      $('#mo-trips').append('<br><a class="btn btn-info" href=/trips/'+id+'>'+data.title+'</a>'+'  '+data.description+'<br><br>'+objectiveButton+'<br><br>'+deleteButton);
    }

    var addObjectives = function(element) {
        var url = element.attr('data-url');

        // Resetting the div based on element clicked on. If it exists reset, otherwise add it.
        if ($('div[data-url="'+url+'"]').get()[0]){
          $('div[data-url="'+url+'"]').remove()
          $('span[data-url="'+url+'"]').after("<div data-url="+url+"></div>");
        } else {
          $('span[data-url="'+url+'"]').after("<div data-url="+url+"></div>");
        }

        $.ajax({
          dataType: 'json',
          url: url,
          method: 'GET',
          success: function(data) {
            $.each(data, function(index,key) {
              // Inserting objectives before the delete button for the corresponding trip
              $('div[data-url="'+url+'"]').append("<br><a href="+url+"/objectives/"+data[index].id+">"+data[index].title+"</a><li>"+data[index].notes+"</li>")
            })
          }
        })
      }

    $("#trips").click(function() {
      var id = <%= current_user.id %>;

      if ($("div#mo-trips").get()[0]) {
        // reseting the div if it exists
        $("div#mo-trips").remove();
        $(this).after("<div id=mo-trips></div>");
      } else {
        $(this).after("<div id=mo-trips></div>");
      }

      // getting index of trips
      $.ajax({
        dataType: 'json',
        url: "/trips",
        method: 'GET',
        success: function(data) {

          $.each(data, function(index,key) {
            var id = data[index].id;

            showTrips(id, data[index]); 
            
            // below I interpolate the current object's id to the delete button action
            $('form:eq('+index+')').removeAttr('action');
            $('form:eq('+index+')').attr('action', '/trips/'+id);

          });
          // delegated event handler so that when a specific element is selected an action is called
          $("div#mo-trips").on("click", "span#trip-objectives", function() {
            // adding objectives for trip selected accordingly
            addObjectives($(this));
          })
        }

      });

    })

    
  });

</script>

<%= render 'layouts/links' %>