<%= form_for( @location, :url => locations_path ) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h4>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  <br>
<% end %>
